<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Websocket</title>
    <meta charset="UTF-8">

    <p id="output"></p>
    <p id="output-stomp"></p>

    <script type="text/javascript" src="/webjars/jquery/jquery.slim.js"></script>
    <script type="text/javascript" src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script type="text/javascript" src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>

<script th:inline="javascript">
    // NOTE: If react and vue, get token from '/csrf' endpoint
    const csrfHeaderName = /*[[${_csrf.headerName}]]*/ 'default';
    const csrfToken = /*[[${_csrf.token}]]*/ 'default';

    $(() => {
        const client = new SockJS("/wss");
        client.onmessage = (e) => {
            console.log(e.data, e)
            document.getElementById("output").innerHTML = '[SockJS] ' + e.data;
        }
        client.onopen = () => {
            console.log('Connection Established', client)
        }
        client.onclose = () => {
            console.log('Connection Closed', client)
        }
        client.onerror = (e) => {
            console.log(e)
        }

        const stompClient = Stomp.over(new SockJS('/ws-stomp'));
        stompClient.debug = () => {
        }
        const headers = {}
        headers[csrfHeaderName] = csrfToken // NOTE: WebSocket CSRF is not disabled due to spring security settings.
        stompClient.connect(headers, (frame) => {
            console.log('[connect]', frame)

            stompClient.subscribe('/topic/hello', (f) => {
                const body = JSON.parse(f.body)
                document.getElementById("output-stomp").innerHTML = '[Stomp][Broadcast] ' + body.message;
                console.log('[subscribe][Broadcast]', body);
            });
            stompClient.subscribe('/user/queue/hello', (f) => {
                const body = JSON.parse(f.body)
                document.getElementById("output-stomp").innerHTML = '[Stomp][Unicast] ' + body.message;
                console.log('[subscribe][Unicast]', body);
            });

            stompClient.send("/app/hello", {}, JSON.stringify({"message": "Hello!"}));
        }, (e) => {
            console.log('[error]', e);
        });
    })
</script>
</body>
</html>